Repository sophiabrandt/user-management: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:fix, pnpm run prettier:write

chore: remove demo component
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/nx-welcome.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

test: add @testing-library/angular
  package.json
  pnpm-lock.yaml
Due: pnpm run prettier:write

style: add daisy ui
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/styles.scss
  tailwind.config.js
Due: pnpm run prettier:write

build: add pocketbase, makefile, docker, docker-compose
  .dockerignore
  .gitignore
  Makefile
  docker-compose.yml
  docker/Dockerfile
Due: none

feat: add header component
  .npmrc
  package.json
  pnpm-lock.yaml
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/header/header.component.html
  src/app/header/header.component.spec.ts
  src/app/header/header.component.ts
  src/app/home/home.component.spec.ts
  src/app/home/home.component.ts
  src/test-setup.ts
  tsconfig.json
Due: pnpm run lint:fix, pnpm run prettier:write

feat: user list home page skeleton
  Makefile
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/header/header.component.spec.ts
  src/app/home/home.component.spec.ts
  src/app/home/home.component.ts
  src/app/home/ui/user-list/user-list.component.html
  src/app/home/ui/user-list/user-list.component.spec.ts
  src/app/home/ui/user-list/user-list.component.ts
  src/index.html
Due: pnpm run lint:fix, pnpm run prettier:write

feat: use pocketbase to fetch and render users
  package.json
  pnpm-lock.yaml
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/home/data-access/home.store.spec.ts
  src/app/home/data-access/home.store.ts
  src/app/home/home.component.spec.ts
  src/app/home/home.component.ts
  src/app/home/ui/user-list/user-list.component.html
  src/app/home/ui/user-list/user-list.component.spec.ts
  src/app/home/ui/user-list/user-list.component.ts
  src/app/shared/data-access/users.service.spec.ts
  src/app/shared/data-access/users.service.ts
  src/app/shared/interfaces/http-request.ts
  src/app/shared/interfaces/user.ts
  src/app/shared/tokens/tokens.ts
  src/app/shared/utils/assert-type.ts
  src/environments/environment.ts
  src/main.ts
  src/styles.scss
Due: pnpm run lint:fix, pnpm run prettier:write

feat: add user page, implement routing
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/home/home.component.spec.ts
  src/app/home/home.page.component.spec.ts
  src/app/home/home.page.component.ts
  src/app/shared/ui/header/header.component.html
  src/app/shared/ui/header/header.component.spec.ts
  src/app/shared/ui/header/header.component.ts
  src/app/shared/utils/assert-type.ts
  src/app/user/ui/user-detail.component.spec.ts
  src/app/user/ui/user-detail.component.ts
  src/app/user/user.page.component.spec.ts
  src/app/user/user.page.component.ts
  src/main.ts
Due: pnpm run lint:fix, pnpm run prettier:write

feat: add user detail
  src/app/home/data-access/home.store.ts
  src/app/shared/data-access/users.service.ts
  src/app/shared/interfaces/http-status.ts
  src/app/user/data-access/user.store.spec.ts
  src/app/user/data-access/user.store.ts
  src/app/user/ui/user-detail.component.html
  src/app/user/ui/user-detail.component.ts
  src/app/user/user.page.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

refactor: use http request state in store
  src/app/home/data-access/home.store.ts
  src/app/home/home.page.component.ts
  src/app/shared/interfaces/http-request-state.ts
  src/app/shared/interfaces/http-request.ts
  src/app/user/data-access/user.store.ts
  src/app/user/user.page.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

test: fix tests
  src/app/home/home.page.component.spec.ts
  src/app/home/ui/user-list/user-list.component.spec.ts
  src/app/shared/interfaces/user.ts
  src/app/user/data-access/user.store.spec.ts
  src/app/user/ui/user-detail.component.html
  src/app/user/ui/user-detail.component.spec.ts
Due: pnpm run lint:fix, pnpm run prettier:write

build: create setup script for database
  .dockerignore
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/seed.js
Due: pnpm run prettier:write

feat: load user detail based on route
  src/app/home/home.page.component.spec.ts
  src/app/shared/data-access/users.service.ts
  src/app/user/data-access/user.store.ts
  src/app/user/user.page.component.spec.ts
  src/app/user/user.page.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

feat: improve seed script
  Makefile
  package.json
  pnpm-lock.yaml
  scripts/seed.js
  scripts/seed.ts
Due: pnpm run lint:fix, pnpm run prettier:write

style: change display of user list table
  src/app/home/home.page.component.ts
  src/app/home/ui/user-list/user-list.component.html
Due: pnpm run lint:fix, pnpm run prettier:write

feat: add routing to details page and back
  src/app/home/data-access/home.store.ts
  src/app/home/ui/user-list/user-list.component.html
  src/app/home/ui/user-list/user-list.component.ts
  src/app/shared/interfaces/user.ts
  src/app/user/data-access/user.store.ts
  src/app/user/ui/user-detail.component.html
  src/app/user/ui/user-detail.component.ts
  src/app/user/user.page.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

build: improve docker compose setup
  Makefile
  docker-compose.yml
Due: none

style: change users route
  src/app/home/ui/user-list/user-list.component.ts
  src/main.ts
Due: pnpm run lint:fix, pnpm run prettier:write

build: add stats
  package.json
  pnpm-lock.yaml
Due: pnpm run prettier:write

build: improve schematics & tsconfig
  nx.json
  src/app/home/ui/user-list/user-list.component.ts
  tsconfig.json
Due: pnpm run lint:fix, pnpm run prettier:write

style: prettify seed.ts
  scripts/seed.ts
Due: pnpm run lint:fix, pnpm run prettier:write

refactor: user -> users
  src/app/home/home.page.component.ts
  src/app/home/ui/user-list/user-list.component.spec.ts
  src/app/home/ui/user-list/users-list.component.spec.ts
  src/app/home/ui/user-list/users-list.component.ts
  src/app/user/ui/user-detail.component.html
  src/app/user/ui/user-detail.component.spec.ts
  src/app/user/ui/user-detail.component.ts
  src/app/users/data-access/users.store.spec.ts
  src/app/users/data-access/users.store.ts
  src/app/users/ui/users-detail.component.spec.ts
  src/app/users/ui/users-detail.component.ts
  src/app/users/users.page.component.spec.ts
  src/app/users/users.page.component.ts
  src/main.ts
Due: pnpm run lint:fix, pnpm run prettier:write

feat: add users edit
  src/app/home/ui/user-list/users-list.component.spec.ts
  src/app/home/ui/user-list/users-list.component.ts
  src/app/shared/data-access/users.service.ts
  src/app/users/ui/users-detail.component.spec.ts
  src/app/users/ui/users-detail.component.ts
  src/app/users/users-details/ui/users-details-card.component.spec.ts
  src/app/users/users-details/ui/users-details-card.component.ts
  src/app/users/users-details/users-details.page.component.spec.ts
  src/app/users/users-details/users-details.page.component.ts
  src/app/users/users-edit/ui/users-edit-form.component.spec.ts
  src/app/users/users-edit/ui/users-edit-form.component.ts
  src/app/users/users-edit/users-edit.page.component.spec.ts
  src/app/users/users-edit/users-edit.page.component.ts
  src/app/users/users.routes.ts
  src/app/users/users.shell.component.spec.ts
  src/app/users/users.shell.component.ts
  src/main.ts
Due: pnpm run lint:fix, pnpm run prettier:write

style: replace image placeholders, inline template
  src/app/shared/ui/header/header.component.html
  src/app/shared/ui/header/header.component.ts
  src/app/users/users-details/ui/users-details-card.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

perf: use recommended change detection strategies
  src/app/home/home.page.component.ts
  src/app/home/ui/user-list/users-list.component.ts
  src/app/users/users-details/users-details.page.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

feat: add users edit form
  src/app/users/users-edit/ui/users-edit-form.component.spec.ts
  src/app/users/users-edit/ui/users-edit-form.component.ts
  src/app/users/users-edit/users-edit.page.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

feat: add form styling and required
  src/app/users/users-edit/ui/users-edit-form.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

feat: add validation error messages and form reset
  src/app/users/users-edit/ui/users-edit-form.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

feat: add ability to update user with pocketbase
  src/app/shared/data-access/users.service.ts
  src/app/users/data-access/users.store.ts
  src/app/users/users-edit/data-access/users-edit.store.spec.ts
  src/app/users/users-edit/data-access/users-edit.store.ts
  src/app/users/users-edit/ui/users-edit-form.component.ts
  src/app/users/users-edit/users-edit.page.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

style: add animation to button
  src/app/users/users-edit/ui/users-edit-form.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

chore: make http request state readonly
  src/app/home/home.page.component.ts
  src/app/users/users-edit/ui/users-edit-form.component.ts
  src/app/users/users-edit/users-edit.page.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

test: add missing tests for loading and updating a user
  src/app/home/data-access/home.store.spec.ts
  src/app/home/home.page.component.spec.ts
  src/app/shared/data-access/users.service.spec.ts
  src/app/users/data-access/users.store.spec.ts
  src/app/users/users-edit/data-access/users-edit.store.spec.ts
  src/app/users/users-edit/data-access/users-edit.store.ts
  src/app/users/users-edit/users-edit.page.component.spec.ts
Due: pnpm run lint:fix, pnpm run prettier:write

feat: add missing ids for labels
  src/app/users/users-edit/ui/users-edit-form.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

test: add test for user edit form
  src/app/users/users-edit/ui/users-edit-form.component.spec.ts
Due: pnpm run lint:fix, pnpm run prettier:write

perf: use ngSubmit
  src/app/users/users-edit/ui/users-edit-form.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

docs: add README & license
  LICENSE
  README.md
Due: pnpm run prettier:write

chore: update nx workspace
  package.json
Due: pnpm run prettier:write

feat: redirect to home page after successful user edit
  src/app/users/users-edit/data-access/users-edit.store.spec.ts
  src/app/users/users-edit/data-access/users-edit.store.ts
Due: pnpm run lint:fix, pnpm run prettier:write

test: add test for error on user edit
  src/app/users/users-edit/data-access/users-edit.store.spec.ts
Due: pnpm run lint:fix, pnpm run prettier:write

feat: improve accessibility for validation errors
  src/app/users/users-edit/ui/users-edit-form.component.spec.ts
  src/app/users/users-edit/ui/users-edit-form.component.ts
Due: pnpm run lint:fix, pnpm run prettier:write

Path conditions:
  pnpm run lint:fix: any of: *.ts
  pnpm run prettier:write: (any of: *.ts) or (any of: *.{html,css,js,json,md})
